
.view
  .back
    position: absolute
    background-color: rgba(0, 0, 0, 0.5)
    font-family: sans-serif
    font-size: 12px
    text-align: center
    border-radius: 4px
    width: 50px
    height: 20px
    padding: 6px
    padding-top: 12px
    bottom: 6px
    left: 12px
    color: #FFF
    z-index: 3
    cursor: pointer
  .hotspot
    background-color: rgba(255, 0, 0, 0.2)
    cursor: pointer
